{% extends "base.html" %}

{% block title %}Marxive - {{ article.title }}{% endblock %}

{% block styles %}
body {
    line-height: 1.6;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 80ch;
    margin: 0 auto;
}

.content {
    min-width: 0;
}

.meta {
    color: var(--text-200);
    font-size: 0.9rem;
    margin-bottom: 1rem;
    border-radius: 16px;
    padding: 0.5rem 1rem;
}

.meta a {
    color: var(--text-200);
}

.meta p {
    margin: 0.5rem 0;
}

.meta-summary {
    cursor: pointer;
    font-weight: bold;
}

.switch {
    display: flex;
}

.switch > a {
    background: var(--bg-200);
    padding: 4px 8px;
}

.switch > a:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 32px;
    padding-left: 16px;
}

.switch > a:last-child {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 16px;
    padding-right: 16px;
}

.switch > a.current {
    background: var(--bg-300);
    color: var(--text-100);
}

.switch > a:not(.current):hover {
    background: var(--bg-300);
    color: var(--text-100);
}

.meta-item {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: bold;
}

.http-status {
    display: none;
}

.tags {
    line-height: 2rem;
}

.tag {
    background-color: var(--bg-200);
    border-radius: 16px;
    padding: 2px 10px;
}

article {
    word-wrap: break-word;
}

@media (min-width: 1100px) {
    .layout {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 2rem;
        max-width: calc(80ch + 300px + 2rem);
    }

    .meta {
        position: sticky;
        top: 1rem;
        align-self: start;
    }
}
{% endblock %}

{% block body %}
<div class="layout">
    <div class="content">
        <h1>{{ article.title }}</h1>
        <article>
            {{ html_content|safe }}
        </article>
    </div>
    <details class="meta" open>
        <summary class="meta-summary">
            {% if let Some(host) = origin %}
            <span class="origin">{{ host }}</span>
            {% endif %}
        </summary>
        <div>
            <p>
                <div><a class="original-link" href="{{ article.url }}" target="_blank">View original</a></div>
            </p>
            <p>
                <div class="status switch">
                    <a {% if article.status == "unread" %}class="current"{% else %}href="#"{% endif %}>unread</a>
                    <a {% if article.status == "archive" %}class="current"{% else %}href="#"{% endif %}>archive</a>
                </div>
            </p>
            <p>
                {% if let Some(dt) = time_added %}
                <div class="time-added meta-item">
                    <div class="label">Saved</div>
                    <div class="value">{{ dt.format("%Y-%m-%d %H:%M") }}</div>
                </div>
                {% endif %}
                {% if let Some(dt) = time_crawled %}
                <div class="time-crawled meta-item">
                    <div class="label">Last crawl</div>
                    <div class="value">
                        {{ dt.format("%Y-%m-%d %H:%M") }}
                        {% if let Some(status) = article.http_status_last_crawl %}
                        <span class="http-status"> (<span class="value">{{ status }}</span>)</span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </p>
            {% if !tag_list.is_empty() %}
            <p>
                <div class="tags">
                    {% for tag in tag_list %}
                    <span class="tag">{{ tag }}</span>{% if !loop.last %} {% endif %}
                    {% endfor %}
                </div>
            </p>
            {% endif %}
        </div>
    </details>
</div>
{% endblock %}
