{% extends "base.html" %}

{% block title %}Marxive - {{ article.title }}{% endblock %}

{% block styles %}
body {
    line-height: 1.6;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 80ch;
    margin: 0;
}

.content {
    min-width: 0;
}

.meta {
    background: #f0eee6;
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 8px #00000010;
    border: 1px solid #00000040;
}

.meta a {
    color: #666;
}

.meta p {
    margin: 0.5rem 0;
}

.meta-summary {
    cursor: pointer;
    font-weight: bold;
}

.label {
    font-weight: bold;
}

.tags {
    line-height: 2rem;
}

.tag {
    background-color: #e1dac2;
    padding: 2px 8px;
    color: #333;
    border-radius: 16px;
    box-shadow: 0 0 0 1px inset #00000030;
}

article {
    word-wrap: break-word;
}

@media (min-width: 1100px) {
    .layout {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 2rem;
        max-width: calc(80ch + 300px + 2rem);
    }

    .meta {
        position: sticky;
        top: 1rem;
        align-self: start;
    }
}
{% endblock %}

{% block body %}
<div class="layout">
    <details class="meta" open>
        <summary class="meta-summary">
            {% if let Some(host) = origin %}
            <span class="origin">{{ host }}</span>
            {% endif %}
        </summary>
        <div>
            <p>
                <div><a class="original-link" href="{{ article.url }}" target="_blank">View original</a></div>
                <div class="status">{{ article.status }}</div>
            </p>
            <p>
                {% if let Some(dt) = time_added %}
                <div class="time-added">
                    <div class="label">Saved</div>
                    <div class="value">{{ dt.format("%Y-%m-%d %H:%M") }}</div>
                </div>
                {% endif %}
                {% if let Some(dt) = time_crawled %}
                <div class="time-crawled">
                    <div class="label">Last crawl</div>
                    <div class="value">
                        {{ dt.format("%Y-%m-%d %H:%M") }}
                        {% if let Some(status) = article.http_status_last_crawl %}
                        <span class="http-status"> (<span class="value">{{ status }}</span>)</span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </p>
            {% if !tag_list.is_empty() %}
            <p>
                <div class="tags">
                    {% for tag in tag_list %}
                    <span class="tag">{{ tag }}</span>{% if !loop.last %} {% endif %}
                    {% endfor %}
                </div>
            </p>
            {% endif %}
        </div>
    </details>
    <div class="content">
        <h1>{{ article.title }}</h1>
        <article>
            {{ html_content|safe }}
        </article>
    </div>
</div>
{% endblock %}
